/* your styles go here */
/* Example site test */
:root {
  --primary-accent: #0c8066;
  --navbar-border-top: #0c8066;
  --button-border: #0c8066;
  --link-focus: #0c8066;
  --form-shadow: #e3dad8;
  --pagination-bg:#e3dad8;
  --link-hover-bg: #0c8066;
  --navbar-focus:#e3dad8;
}

#top {
  background: #0c8066;
  color: #eeeeee;
  padding: 10px 0;
}

.ribbon .theribbon:after {
  left: 0px;
  top: 100%;
  border-width: 5px 10px;
  border-style: solid;
  border-color: #0c8066 #0c8066  transparent transparent;
}

.bar .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0c8066 ;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.box-image-text .image {
    min-height: 200px;
    max-height: 200px;
}

.box-image-text .image img {
    max-height: 200px;
    margin: auto;
}

.box-simple {
    min-height: 230px;
}
/* font size */
#post-content {
  font-size: 18px
}

h1{
  font-size: 40px;
}

h2{
  font-size: 30px;
}

p{
  font-size: 18px;
}

body{
  font-size: 180%;
}

/*banner and carousel design*/
.jumbotron {
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  background: url('/images/carousel/with_text_2.jpg') center center no-repeat;
  background-size: contain;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home-carousel {
  position: relative;
  top: 0;
  left: 0;
  background: url('/images/carousel/with_text_2.jpg') center center no-repeat;
  background-size: contain;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.home-carousel .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-accent);
  opacity: 0.0;
  filter: alpha(opacity=90);
}
.home-carousel .owl-carousel {
  padding-top: 200px;
  padding-bottom: 100px;
}


/* background color */
.bar.background-image-fixed-1 {
  background: var(--primary-accent);
  background-attachment: fixed;
  background-size: cover;
}
.bar.background-image-fixed-2 {
  background: var(--primary-accent);
  background-attachment: fixed;
  background-size: cover;
}

/* main bar color */
#heading-breadcrumbs {
  background: var(--button-border);
  padding: 20px 0;
  margin-bottom: 40px;
}

.bar.background-pentagon {
  background: var(--button-border);
  border-top: solid 1px #0c8066;
  border-bottom: solid 1px #0c8066;
}

